html {
    /* background-color: rgb(236, 233, 233); */
}
body{
    max-width: 1200px;
    margin: 0 auto;
}
.main {
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-template-rows: repeat(2, minmax(50px, 70px)) repeat(15, minmax(50px, 1fr)); 
    grid-auto-rows: minmax(50px, 1fr);
}
.header {
    background-color: rgb(150, 125, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    grid-row: 1/ 1; 
    grid-column: 1/ 8;
}
.profile {
    display: flex;
    justify-content: flex-end;
}
.profile h5 {
    padding-right: 15px;
    font-weight: 300;
}
.header h3{
    font-weight: 200;
    margin-left: 15px;
    font-size: 18px;
    flex-basis: 100px;
}
.bell {
    width: 8%; 
    height: 10%;
    margin: auto 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}
.profile-picture {
    border-radius: 50%;
    margin: auto 15px;  
}
.navigation {
    background-color: rgb(87, 62, 121);
    display: flex;
    justify-content: space-around;
    height: auto;
    grid-row: 2/ 2; 
    grid-column: 1/ 8;
}
.nav-icon {
    width: 5%;
    padding: 5px;
}
/* dash tab styles */
.dash-content {
    grid-row: 3/ 3; 
    grid-column: 1 / 8;
}
.tab {
    display: flex;
    justify-content: space-between;
}
.tab h3 {
    color: gray; 
    font-weight: 400; 
    margin: auto;
    padding: 10px;
    flex-basis: 100px;
    text-align: center;

}
.search-container {
    background-color: rgb(223, 219, 219);
    width: 85%;
    display: flex;
    justify-content: flex-end;
}
.tab input {
    padding: 5px;
    font-size: 12px;
    margin: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    flex-basis: 180px;
   
}
/* alert box styles */
.alert-modal {
    background-color: rgb(150, 125, 184);
    color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.alert-paragraph {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
}
.alert-close {
    background-color: transparent;
    border: none;
    padding: 0 20px;
    font-size: 22px;
}
/* line chart styles */
#line {
    max-width: 850px;
    max-height: 350px;
    margin: 0 auto;

}
.line-chart h3 {
    color: gray; 
    font-weight: lighter;
    margin: auto 0 0 35px;
}
/* bar and pie styles */
.bar-pie-container {
    width: 100%;
    display: inline-block;
    margin: 0 auto;

}
#bar-chart {
    margin: 30px auto;
    max-width: 425px;
    max-height: 325px;
}
#pie-chart {
    margin: 10px auto; 
    max-width: 300px;
    max-height: 300px;
}
.pie-chart {
    border: 1px solid lightgray;
    height: 350px; 
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 20px;
}
.bar-chart {
    border: 1px solid lightgray;
    height: 300px; 
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
}
/* social media icons */
.social-icon {
    width: 10%;
    display: inline-block;
}
.social-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    border: 1px solid lightgray;
    margin: 10px;
    width: 18%;
    padding: 10px;
}
.card h5 {
    display: inline-block;
    margin: 0 5px;
}
.card p {
    margin: 0 25px;
}

/* media queries */
@media (min-width: 760px) {
    .header h3{
      font-size: 20px;
    }
    .navigation {
        flex-direction: column;
        grid-column-start: 1; 
        grid-column-end: 1;
        grid-row: 2/ -1;
        height: auto;
        justify-content: flex-start;
    }
    .main {
        grid-template-columns: 50px repeat(6, minmax(100px, 200px));
    }
    .nav-icon {
        width: 50%;
        align-self: center;
        margin: 15px 0; 
    }
    .dash-content {
        grid-row: 2/ 2; 
        grid-column: 2 / 8;
    }
    .search-container {
        background-color: rgb(223, 219, 219);
        width: 85%;
        display: flex;
        justify-content: flex-end;
    }
    .line-chart h3 {
        margin: 20px 0 0 45px; 
        font-size: 22px;
    
    }
    .bar-pie-container {
        display: flex;
        margin: 0 auto;
        
    }
    .bar-chart {
        /* max-width: 50%; */
        display: inline-block;
        border: 1px solid lightgray;
        height: 300px; 
        width: 300px;
        flex-grow: 1;
        padding: 10px;
    }
    #bar-chart {
        height: 300px;
    }
    .pie-chart {
        display: inline-block;
        border: 1px solid lightgray;
        height: 300px; 
        width: 300px;
        flex-grow: 1;
        padding: 10px;
    }
    #pie-chart {
        height: 280px;
    }
}