html {
    background-color: rgb(236, 233, 233);
}
body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.main {
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-template-rows: repeat(3, 55px) auto; 
}
/* Layout of main sections (header, nav, tab-section, and dashboard-section) */
.header {
    background-color: rgb(150, 125, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    grid-row: 1/ 1; 
    grid-column: 1/ 8;
}
.navigation {
    background-color: rgb(87, 62, 121);
    display: flex;
    justify-content: space-around;
    height: auto;
    grid-row: 2/ 2; 
    grid-column: 1/ 8;
}
.tab-content {
    grid-row: 3/ 3; 
    grid-column: 1 / 8;
}
.dashboard-section {
    grid-row: 4 /4;
    grid-column: 1/8;
}
/* heading styles */
.profile {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}
.profile h5 {
    padding-right: 15px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}
.header h3{
    font-weight: 200;
    margin-left: 15px;
    font-size: 18px;
    flex-basis: 100px;
}
.bell {
    width: 25%; 
    height: 30%;
    margin: auto 10px;
    padding: 10px; 
}
.personal {
    display: flex;
    border-left: 1px solid white;
    margin: auto;
}
.profile-picture {
    border-radius: 50%;
    margin: auto 15px;
    width: 40px;
    height: 40px; 
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
.notification-ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 180px;
    background-color: rgb(202, 186, 226);
    min-width: 180px;
    z-index: 1;
    border-radius: 5px;
}
.notification-ul li {
    color: black;
    margin: 10px;
    font-size: 12px; 
    font-family: 'Quicksand', sans-serif; 
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

}
.notification-button {
    border: none;
    background-color: #fff;
    margin-left: 5px;
    padding: 5px;
}
.bell:hover ~ .notification-ul {
    display: block;
}
.notification-ul:hover {
    display: block;
}
.nav-icon {
    width: 5%;
    padding: 5px;
}
/* dash tab styles */
.tab {
    display: flex;
    justify-content: space-between;
}
.tab h3 {
    color: gray; 
    font-weight: 400; 
    margin: auto;
    padding: 10px;
    flex-basis: 100px;
    text-align: center;

}
.search-container {
    background-color: rgb(223, 219, 219);
    width: 85%;
    display: flex;
    justify-content: flex-end;
}
.tab input {
    padding: 5px;
    font-size: 12px;
    margin: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    flex-basis: 180px;
   
}
/* alert box styles */
.alert-modal {
    background-color: rgba(87, 62, 121, 0.8);
    color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.alert-paragraph {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    font-family: 'Quicksand', sans-serif;
}
.alert-close {
    background-color: transparent;
    border: none;
    padding: 0 20px;
    font-size: 22px;
}
/* line chart styles */
.charts-container {
    background-color: #fff;
}
#line {
    max-width: 800px;
    max-height: 350px;
    margin: 0 auto;

}
.line-chart h3 {
    color: gray; 
    font-weight: lighter;
    margin: auto 0 0 35px;
}
/* bar and pie styles */
.bar-pie-container {
    width: 100%;
    display: inline-block;
    margin: 0 auto;

}
#bar-chart {
    margin: 30px auto;
    max-width: 425px;
    max-height: 325px;
}
#pie-chart {
    margin: 10px auto; 
    max-width: 300px;
    max-height: 300px;
}
.pie-chart {
    border: 1px solid lightgray;
    height: 350px; 
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 20px;
}
.bar-chart {
    border: 1px solid lightgray;
    height: 300px; 
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
}
/* social media icons */
.social-title {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: gray; 
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 20px 0;
}
.social-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 10px 30px 10px;
    width: 280px;
    height: 90px;;
    padding: 10px 15px;
    background-color: rgb(241, 245, 245);
}
.card h5 {
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 5px;
    color: rgb(87, 62, 121);
}
.card p {
    margin: 0px;
    font-size: 40px;
    font-weight: 300;
    width: 50%;
    color: gray;
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    position: relative;
    left: 80px;
    bottom: 50px;
}
/* social SVG styles  */
.social-icon {
    width: 20%;
    display: inline-block;
    background-color: rgb(150, 125, 184);
    padding: 12px;
    border-radius: 50%; 
}


/* Users styles (for new members and recent activity) */


.users {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
}
.new-members,
.recent-activity {
    display: inline-block;
    border: 1px solid lightgray;
    width: 100%;
    margin: 0 auto;
}
.new-members-ul,
.recent-activity-ul {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.member {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    height: 55px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;      
}
.wrapper {
    display: inline-block;
}
.member:last-child {
    border-bottom: none;
}
.avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    margin-right: 10px;
}
.member-name {
    margin: 10px 0; 
}
.member-activity,
.time {
    font-size: 12px;
    margin: 0; 
}
.email {
    font-size: 12px; 
    margin: 0;
    color: rgba(87, 62, 121, 0.8);
}
.title {
    text-transform: uppercase; 
    font-size: 16px;
    color: gray;
    font-family: 'Quicksand', sans-serif;
    margin-left: 35px;
}
.date-join {
    font-size: 12px;
}
.arrow {
    font-size: 20px;
}

/* Styles for Messages and Settings */
.messages-settings-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.messages h3 {
    margin: 0; 
    padding: 16px 0 16px 35px;
}
.messages,
.settings {
    border: 1px solid lightgray;
    width: 100%;
}
.search-user,
.button-primary,
textarea {
    display: block;
    margin: 28px auto;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.button-primary {
    background-color: rgba(87, 62, 121, .7);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 85%;
}
.button-secondary {
    background-color: rgb(182, 180, 180);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    width: 40%;
    margin: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.save {
    background-color: rgba(87, 62, 121, .7);
}
.setting-buttons {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.search-user,
textarea {
    background-color: rgb(241, 245, 245);
    font-weight: 300;
    width: 80%;
}
.successMessage {
    display: block;
    color: green; 
    margin: auto ; 
    width: 85%;
    padding: 20px;
    text-align: center;
}
.failMessage {
    display: block;
    color: red; 
    margin: auto; 
    width: 85%;
    padding: 20px;
    text-align: center;
}
/* Select menu */
select {
    width: 100%; 
    color: gray; 
    font-family: 'Quicksand', sans-serif;
}
.select {
    width: 85%;
    margin: 0 auto;
}
/* toggel sliders */
.toggle-wrapper {
    display: block;
    margin: 15px;
}
.toggle-wrapper p {
    width: 60%;
    display: inline-block;
    color: gray;
    font-family: 'Quicksand', sans-serif;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 30px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(87, 62, 121);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(87, 62, 121);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* media queries */
@media (min-width: 760px) {
    .header h3{
      font-size: 20px;
    }
    .navigation {
        flex-direction: column;
        grid-column-start: 1; 
        grid-column-end: 1;
        grid-row: 2/ 5;
        height: auto;
        justify-content: flex-start;
    }
    .dashboard-section {
        grid-row: 3 /5;
        grid-column: 2/8;
    }
    .main {
        grid-template-columns: 50px repeat(6, minmax(100px, 200px));
    }
    .nav-icon {
        width: 50%;
        align-self: center;
        margin: 15px 0; 
    }
    .tab-content {
        grid-row: 2/ 2; 
        grid-column: 2 / 8;
    }
    .search-container {
        background-color: rgb(223, 219, 219);
        width: 85%;
        display: flex;
        justify-content: flex-end;
    }
    .line-chart h3 {
        margin: 20px 0 0 45px; 
        font-size: 22px;
    
    }
    .bar-pie-container {
        display: flex;
        margin: 0 auto;
        
    }
    .bar-chart {
        /* max-width: 50%; */
        display: inline-block;
        border: 1px solid lightgray;
        height: 300px; 
        width: 300px;
        flex-grow: 1;
        padding: 10px;
    }
    #bar-chart {
        height: 300px;
    }
    .pie-chart {
        display: inline-block;
        border: 1px solid lightgray;
        height: 300px; 
        width: 300px;
        flex-grow: 1;
        padding: 10px;
    }
    #pie-chart {
        height: 280px;
    }
    .social-title {
        text-align: left;
        padding-left: 30px;
    }
    .social-stats,
    .messages-settings-container,
    .users {
        flex-direction: row;
    }
    .new-members,
    .recent-activity,
    .messages,
    .settings {
        width: 50%;
    }
  
}
/* Aminmation for the Notifications  */
@keyframes removed-items {
    from {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
    to {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
  }
  .removed-item {
    -ms-animation: removed-items 0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    -webkit-animation: removed-items0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    -moz-animation: removed-items 0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    -o-animation: removed-items 0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    animation: removed-items 0.4s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  }

  @keyframes tick-toc {
      0% {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
      }
      33% {
        -ms-transform: rotate(-50deg); /* IE 9 */
        -webkit-transform: rotate(-50deg); /* Safari */
        transform: rotate(-50deg);
      }
      66% {
        -ms-transform: rotate(50deg); /* IE 9 */
        -webkit-transform: rotate(50deg); /* Safari */
        transform: rotate(50deg);  
      }
      100% {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);  
      }
  }
.bell:hover {
    animation: tick-toc 0.7s ease-in-out; 
    -o-animation: tick-toc 0.7s ease-in-out; 
    -moz-animation: tick-toc 0.7s ease-in-out; 
    -webkit-animation: tick-toc 0.7s ease-in-out; 
    -ms-animation: tick-toc 0.7s ease-in-out; 
}
